In [1]:
import pandas as pd
import glob
import random
import os
all_files = glob.glob('/workspaces/repos/data2/Aemet2019-*.xls')

file_list = []

for f in all_files:
    data = pd.read_excel(f)
    data['source_file'] = f
    file_list.append(data)

df = pd.concat(file_list, ignore_index = True)

df

,España,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,source_file
0,"Actualizado: sábado, 26 enero 2019 a las 18:00...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/workspaces/repos/data2/Aemet2019-01-25.xls
1,"Fecha: viernes, 25 enero 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/workspaces/repos/data2/Aemet2019-01-25.xls
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/workspaces/repos/data2/Aemet2019-01-25.xls
3,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),/workspaces/repos/data2/Aemet2019-01-25.xls
4,Estaca de Bares,A Coruña,12.4 (15:20),10.4 (02:40),11.4,37 (12:10),24 (23:00),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-25.xls
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24826,"Zaragoza, Valdespartera",Zaragoza,12.0 (14:50),5.8 (05:20),8.9,87 (14:20),44 (14:10),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24827,Leciñena,Zaragoza,10.5 (14:50),1.3 (04:50),5.9,72 (15:00),45 (15:40),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24828,Valmadrid,Zaragoza,9.5 (14:50),4.9 (03:00),7.2,76 (15:00),53 (20:20),0.8,0,0.4,0.4,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24829,Quinto,Zaragoza,12.6 (13:50),5.9 (06:50),9.3,79 (16:20),50 (14:00),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24830,Caspe,Zaragoza,12.4 (14:10),3.9 (07:10),8.1,103 (16:10),75 (16:10),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls

In [24]:
filas , columnas = df.shape
print("Numero de filas: ", filas)
print("Numero de columnas: ", columnas)

Numero de filas:  24831
Numero de columnas:  13

In [25]:
primeras_10_filas = df.head(10)
print(primeras_10_filas)

                                              España Unnamed: 1  \
0  Actualizado: sábado, 26 enero 2019 a las 18:00...        NaN
1                      Fecha: viernes, 25 enero 2019        NaN
2                                                NaN        NaN
3                                           Estación  Provincia
4                                    Estaca de Bares   A Coruña
5                                          As Pontes   A Coruña
6                                           A Coruña   A Coruña
7                                A Coruña Aeropuerto   A Coruña
8                               Carballo, Depuradora   A Coruña
9                                         Cabo Vilan   A Coruña

                Unnamed: 2               Unnamed: 3              Unnamed: 4  \
0                      NaN                      NaN                     NaN
1                      NaN                      NaN                     NaN
2                      NaN                      NaN                     NaN
3  Temperatura máxima (ºC)  Temperatura mínima (ºC)  Temperatura media (ºC)
4             12.4 (15:20)             10.4 (02:40)                    11.4
5             10.2 (16:00)              5.2 (23:10)                     7.7
6             12.6 (13:50)              9.4 (23:59)                      11
7             12.2 (13:30)              5.3 (23:59)                     8.8
8             12.0 (14:30)              3.8 (23:59)                     7.9
9             12.6 (14:20)              9.2 (23:59)                    10.9

     Unnamed: 5               Unnamed: 6                 Unnamed: 7  \
0           NaN                      NaN                        NaN
1           NaN                      NaN                        NaN
2           NaN                      NaN                        NaN
3  Racha (km/h)  Velocidad máxima (km/h)  Precipitación 00-24h (mm)
4    37 (12:10)               24 (23:00)                          0
5           NaN                      NaN                        NaN
6    30 (12:50)               20 (12:50)                        0.4
7    26 (01:50)               15 (14:20)                          0
8           NaN                      NaN                        0.4
9    61 (01:40)               41 (12:40)                        NaN

                  Unnamed: 8                 Unnamed: 9  \
0                        NaN                        NaN
1                        NaN                        NaN
2                        NaN                        NaN
3  Precipitación 00-06h (mm)  Precipitación 06-12h (mm)
4                          0                          0
5                        NaN                          0
6                        0.4                          0
7                          0                          0
8                        0.4                          0
9                        NaN                        NaN

                 Unnamed: 10                Unnamed: 11  \
0                        NaN                        NaN
1                        NaN                        NaN
2                        NaN                        NaN
3  Precipitación 12-18h (mm)  Precipitación 18-24h (mm)
4                          0                          0
5                          0                          0
6                          0                          0
7                          0                          0
8                          0                          0
9                        NaN                        NaN

                                   source_file
0  /workspaces/repos/data2/Aemet2019-01-25.xls
1  /workspaces/repos/data2/Aemet2019-01-25.xls
2  /workspaces/repos/data2/Aemet2019-01-25.xls
3  /workspaces/repos/data2/Aemet2019-01-25.xls
4  /workspaces/repos/data2/Aemet2019-01-25.xls
5  /workspaces/repos/data2/Aemet2019-01-25.xls
6  /workspaces/repos/data2/Aemet2019-01-25.xls
7  /workspaces/repos/data2/Aemet2019-01-25.xls
8  /workspaces/repos/data2/Aemet2019-01-25.xls
9  /workspaces/repos/data2/Aemet2019-01-25.xls

In [3]:
nombre_columnas = {
    'Estación': 'estacion','Provincia':'provincia','Temperatura máxima (ºC)':'temp_max','Temperatura mínima (ºC)':'temp_min','Temperatura media (ºC)':'temp_med','Racha (km/h)':'viento_racha','Velocidad máxima (km/h)':'viento_vel_max','Precipitación 00-24h (mm)':'prec_dia','Precipitación 00-06h (mm)':'prec_0_6h','Precipitación 06-12h (mm)':'prec_6_12h','Precipitación 12-18h (mm)':'prec_12_18h','Precipitación 18-24h (mm)':'prec_18_24h','source_file':'fecha'}
df.rename(columns=nombre_columnas, inplace=True)
df

,España,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,fecha
0,"Actualizado: sábado, 26 enero 2019 a las 18:00...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/workspaces/repos/data2/Aemet2019-01-25.xls
1,"Fecha: viernes, 25 enero 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/workspaces/repos/data2/Aemet2019-01-25.xls
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/workspaces/repos/data2/Aemet2019-01-25.xls
3,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),/workspaces/repos/data2/Aemet2019-01-25.xls
4,Estaca de Bares,A Coruña,12.4 (15:20),10.4 (02:40),11.4,37 (12:10),24 (23:00),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-25.xls
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24826,"Zaragoza, Valdespartera",Zaragoza,12.0 (14:50),5.8 (05:20),8.9,87 (14:20),44 (14:10),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24827,Leciñena,Zaragoza,10.5 (14:50),1.3 (04:50),5.9,72 (15:00),45 (15:40),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24828,Valmadrid,Zaragoza,9.5 (14:50),4.9 (03:00),7.2,76 (15:00),53 (20:20),0.8,0,0.4,0.4,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24829,Quinto,Zaragoza,12.6 (13:50),5.9 (06:50),9.3,79 (16:20),50 (14:00),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls
24830,Caspe,Zaragoza,12.4 (14:10),3.9 (07:10),8.1,103 (16:10),75 (16:10),0,0,0,0,0,/workspaces/repos/data2/Aemet2019-01-28.xls

In [27]:
tiposdedatos =df.dtypes
print(tiposdedatos)

España         object
Unnamed: 1     object
Unnamed: 2     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6     object
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
Unnamed: 10    object
Unnamed: 11    object
fecha          object
dtype: object

In [28]:
df = df.dropna()
print(df)

                        España Unnamed: 1               Unnamed: 2  \
3                     Estación  Provincia  Temperatura máxima (ºC)
4              Estaca de Bares   A Coruña             12.4 (15:20)
6                     A Coruña   A Coruña             12.6 (13:50)
7          A Coruña Aeropuerto   A Coruña             12.2 (13:30)
11                    Fisterra   A Coruña             11.6 (13:10)
...                        ...        ...                      ...
24826  Zaragoza, Valdespartera   Zaragoza             12.0 (14:50)
24827                 Leciñena   Zaragoza             10.5 (14:50)
24828                Valmadrid   Zaragoza              9.5 (14:50)
24829                   Quinto   Zaragoza             12.6 (13:50)
24830                    Caspe   Zaragoza             12.4 (14:10)

                    Unnamed: 3              Unnamed: 4    Unnamed: 5  \
3      Temperatura mínima (ºC)  Temperatura media (ºC)  Racha (km/h)
4                 10.4 (02:40)                    11.4    37 (12:10)
6                  9.4 (23:59)                      11    30 (12:50)
7                  5.3 (23:59)                     8.8    26 (01:50)
11                 8.1 (22:00)                     9.9    48 (15:40)
...                        ...                     ...           ...
24826              5.8 (05:20)                     8.9    87 (14:20)
24827              1.3 (04:50)                     5.9    72 (15:00)
24828              4.9 (03:00)                     7.2    76 (15:00)
24829              5.9 (06:50)                     9.3    79 (16:20)
24830              3.9 (07:10)                     8.1   103 (16:10)

                    Unnamed: 6                 Unnamed: 7  \
3      Velocidad máxima (km/h)  Precipitación 00-24h (mm)
4                   24 (23:00)                          0
6                   20 (12:50)                        0.4
7                   15 (14:20)                          0
11                  31 (22:10)                          0
...                        ...                        ...
24826               44 (14:10)                          0
24827               45 (15:40)                          0
24828               53 (20:20)                        0.8
24829               50 (14:00)                          0
24830               75 (16:10)                          0

                      Unnamed: 8                 Unnamed: 9  \
3      Precipitación 00-06h (mm)  Precipitación 06-12h (mm)
4                              0                          0
6                            0.4                          0
7                              0                          0
11                             0                          0
...                          ...                        ...
24826                          0                          0
24827                          0                          0
24828                          0                        0.4
24829                          0                          0
24830                          0                          0

                     Unnamed: 10                Unnamed: 11  \
3      Precipitación 12-18h (mm)  Precipitación 18-24h (mm)
4                              0                          0
6                              0                          0
7                              0                          0
11                             0                          0
...                          ...                        ...
24826                          0                          0
24827                          0                          0
24828                        0.4                          0
24829                          0                          0
24830                          0                          0

                                             fecha
3      /workspaces/repos/data2/Aemet2019-01-25.xls
4      /workspaces/repos/data2/Aemet2019-01-25.xls
6      /workspaces/repos/data2/Aemet2019-01-25.xls
7      /workspaces/repos/data2/Aemet2019-01-25.xls
11     /workspaces/repos/data2/Aemet2019-01-25.xls
...                                            ...
24826  /workspaces/repos/data2/Aemet2019-01-28.xls
24827  /workspaces/repos/data2/Aemet2019-01-28.xls
24828  /workspaces/repos/data2/Aemet2019-01-28.xls
24829  /workspaces/repos/data2/Aemet2019-01-28.xls
24830  /workspaces/repos/data2/Aemet2019-01-28.xls

[19522 rows x 13 columns]

In [2]:
resumne_estadistico =  df.describe()
print(resumne_estadistico)

              España     Unnamed: 1               Unnamed: 2  \
count          24800          24738                    23681
unique           859             53                     7566
top     Fuencaliente  Illes Balears  Temperatura máxima (ºC)
freq              62           1178                       31

                     Unnamed: 3  Unnamed: 4    Unnamed: 5  \
count                     23681     23681.0         20103
unique                    10678       265.0          7299
top     Temperatura mínima (ºC)         6.5  Racha (km/h)
freq                         31       244.0            31

                     Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
count                     20234       23397       23596       23596
unique                     5475         440         200         193
top     Velocidad máxima (km/h)           0           0           0
freq                         31       17506       20324       20138

        Unnamed: 10  Unnamed: 11                                  source_file
count         23615        23594                                        24831
unique          183          208                                           31
top               0            0  /workspaces/repos/data2/Aemet2019-01-25.xls
freq          20356        20014                                          801